.item {
    margin: 1rem auto ;
    width: 70vw;
    display: flex;
    align-items: center;

    .descriptions{
        width: 55%;
        height: 90%;
        display: flex;
        justify-content: space-between;
    }

}
.image {
    width: 45%;
    height: 90%;
    img{
        width: 90%;
    }
}

.price{
    height: 90%;
    display: flex;
    flex-direction: column;

}
